# <center> Data Structure Basic

## Jupyter notebook

<img src = "https://github.com/saeed-saffari/alzahra-workshop-spr2021/blob/main/lecture/jupyter.png?raw=true">

In [ ]:
# kernels

In [13]:
# hotkey

In [ ]:
# comment

In [15]:
# this is python cource.

In [ ]:
# markdown

this is python cource.

$$ \alpha = \beta = \frac{\alpha^2}{\sqrt{\beta^{\theta}}}$$

# <center> Basic

In [16]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Arithmetic Operators
| Symbol | Task Performed |
|:----:|:---:|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [17]:
2 + 4

6

In [18]:
5 - 12

-7

In [19]:
3 * 12

36

In [21]:
5 ** 3

125

In [22]:
10 / 3

3.3333333333333335

In [23]:
37 % 5

2

In [24]:
37 // 5

7

In [37]:
print(37//5)

7

In [25]:
5 + (4 - 3*2)**3 + 1

-2

In [26]:
a = 5 + (4 - 3*2)**3 + 1

In [27]:
a

-2

In [28]:
a + 2

0

In [35]:
a = 100
a = 20
a = a * 2
a = a - 15
# a = 10

a

25

In [38]:
print(a*2)

50

## Relational Operators

| Symbol | Task Performed |
|:----:  |:---:|
|=	     |Assignment|
|==      |True, if it is equal|
|!=      |True, if not equal to|
|<	     |less than|
|>	     |greater than|
|<=      |less than or equal to|
|>=      |greater than or equal to|

In [39]:
x = 2
y = 6

In [44]:
print(x==y)
print(x==2)
print(x!=y)

False
True
True

In [47]:
print(x>y)
print(x>2)
print(x>=2)

False
False
True

In [50]:
x>1 and y < 10

True

In [51]:
x>1 and y > 10

False

In [52]:
x>1 or y<1

True

In [53]:
1 < x < 3

True

## Type

| Types | Example |
| :--: | :--: |
| string | "Hello" ,  'World' |
| integer | 1 , 2 , 3 |
| float | 1.2 , 4.6 , 112.6 |
| boolian | True , Flase |

In [54]:
type(x)

int

In [59]:
print(type('Economics'))
print(type(1))
print(type(1.5))
print(type(False))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [60]:
x = 1.3
type(x)

float

In [63]:
int(x) * 3

3

In [65]:
str(1) * 3

'111'

In [66]:
a = "python course!"
print(a)

python course!

In [70]:
# "python'

In [72]:
a.capitalize()

'Python course!'

In [73]:
a

'python course!'

In [74]:
s1 = "Hi, this is python course!"
s1

'Hi, this is python course!'

In [75]:
s1.count('i')

3

In [78]:
s1.find('p')

12

In [79]:
s1.upper()
#lower()

'HI, THIS IS PYTHON COURSE!'

In [80]:
x = 'abc'

In [81]:
x

'abc'

In [82]:
x*2

'abcabc'

In [83]:
v = 'cvb'
v

'cvb'

In [84]:
x + v

'abccvb'

In [86]:
x + '2'

'abc2'

## List

In [89]:
print(type([]))
print(type([1]))

<class 'list'>
<class 'list'>

In [92]:
x = [1,2,3,4,5,6,7,8,9,10]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [93]:
type(x)

list

In [94]:
x[0]

1

In [95]:
x[4]

5

In [96]:
x[-1]

10

In [97]:
x[-3]

8

In [98]:
x[3:6]

[4, 5, 6]

In [99]:
x[2:-1]

[3, 4, 5, 6, 7, 8, 9]

In [100]:
x[3:]

[4, 5, 6, 7, 8, 9, 10]

In [101]:
x[:7]

[1, 2, 3, 4, 5, 6, 7]

In [103]:
x[:-2]

[1, 2, 3, 4, 5, 6, 7, 8]

In [104]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
x[1:7]

[2, 3, 4, 5, 6, 7]

In [107]:
# [<begin>:<end>:<step>]
x[1:7:2]

[2, 4, 6]

In [109]:
x[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [108]:
x[2::3]

[3, 6, 9]

In [110]:
x[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [111]:
x[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [112]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [113]:
x * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [116]:
x = [1,2,3,'python', [5,76,23], 12, 'macro']
x

[1, 2, 3, 'python', [5, 76, 23], 12, 'macro']

In [117]:
x[-1]

'macro'

In [120]:
x + [4]

[1, 2, 3, 'python', [5, 76, 23], 12, 'macro', 4]

In [121]:
x

[1, 2, 3, 'python', [5, 76, 23], 12, 'macro']

In [122]:
x.append(5)

In [123]:
x

[1, 2, 3, 'python', [5, 76, 23], 12, 'macro', 5]

In [124]:
# remove
# pop

In [125]:
x.remove('python') # number / value
x

[1, 2, 3, [5, 76, 23], 12, 'macro', 5]

In [126]:
x.pop(-2)

'macro'

In [127]:
x

[1, 2, 3, [5, 76, 23], 12, 5]

In [129]:
x.reverse()

In [130]:
x

[5, 12, [5, 76, 23], 3, 2, 1]

## Dictionary

In [132]:
type({})

dict

In [133]:
# { keys:value , keys:value , keys:value , keys:value  }

In [134]:
score = {'math':19 , 'lit':17 , 'econ':20}
score

{'math': 19, 'lit': 17, 'econ': 20}

In [136]:
type(score)

dict

In [138]:
x[1]

12

In [140]:
score['math']

19

In [141]:
score['econ']

20

In [143]:
score['lit'] = 18

In [144]:
score

{'math': 19, 'lit': 18, 'econ': 20}

In [145]:
score['geo'] = 16

In [146]:
score

{'math': 19, 'lit': 18, 'econ': 20, 'geo': 16}

In [147]:
score.keys()

dict_keys(['math', 'lit', 'econ', 'geo'])

In [148]:
score.values()

dict_values([19, 18, 20, 16])

#### Other type

In [ ]:
#tuple

In [149]:
v = (1,2,3,4)
v

(1, 2, 3, 4)

In [150]:
type(v)

tuple

In [151]:
v[2]

3

In [152]:
x

[5, 12, [5, 76, 23], 3, 2, 1]

In [153]:
x[-1]

1

In [154]:
x[-1] = 123

In [155]:
x

[5, 12, [5, 76, 23], 3, 2, 123]

In [156]:
v[0]

1

In [168]:
#v[0] = 123

In [164]:
a = float(input('Enter your number: '))
a

Enter your number: 43

43.0

In [165]:
type(a)

float

In [166]:
a * 2

86.0